.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
 
}

.AppContainer {
    min-height:175px;
    max-height:50vh;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    width:60%;
    position: fixed;
    bottom: 0;
    margin-left: 10%;
    z-index: 9001;
    overflow-y: scroll;
    border-left: solid black 2px;
    border-right: solid black 2px;
    background: beige;
}

::-webkit-scrollbar { 
    display: none; 
}

.commentBoxHeader{
    max-width: 500px;
    grid-column: 1 / 5;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    display:grid;
    background-color: antiquewhite;
    border-bottom: 3px solid black;
   
}

.appHeader {
    position: sticky;
    top:0;
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-row: 1;
    grid-column: 1 / 5;
    background: lightgreen;
 
}

.widgetTitle{
    max-width: 500px;
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column:1/3;
    background: darkorange;
}

.comment {
    padding:10px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-column: 1 / 5;
    background-color:beige;
    
  
}

.commentHeader{
    display:flex;
    grid-template-columns: 1fr 1fr 5fr;
    grid-column: 1 / 5;

}

.commentText{
    max-width: 500px;
    padding-left:15px;
    padding-right:15px;
    grid-column: 1 / 5;
    word-wrap:break-word;
   
}

.commentTextSpan{
    max-width: 95%;
    word-wrap:break-word;
   
}

.commentFooter{
    grid-column: 1 / 5;
  
    display: flex;
    
    
}

.commentFooterLink{
    grid-column:2/3;
    color: blue;
    margin-right:10px;
    cursor: pointer;
    margin-left:10px;
}

.userName{
    margin-left:5px;
    font-weight:bold;
    grid-column:1/2;
}

.commentAge{
    color:grey;
    grid-column:2/3;
    margin-left:5px;
}

.expandButton{
    background-color: #4CAF50; /* Green */
    border: solid blue 1px;
    color: white;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    grid-column:4/5;
    margin-top:5px;
    margin-right:5px;
    margin-left:5px;

}
.sortButton{
    background-color: skyblue;
    border: solid blue 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    grid-column:3/4;
    grid-row: 1;
    margin-top:5px;
    margin-right:5px;
    margin-left:5px;
   
}

.commentReplies{
    font-weight:bold;
    cursor: pointer;
    padding-top:5px;
    padding-left:25px;
    
}

.editorFooter{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 30px;
    grid-column: 1/5;
    height: 30px;
    border-top: 1px solid grey;
    margin-left:5px;
    padding-bottom:10px;

}

.leaveCommentButton{
    background-color: darkgrey;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 25px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
    border: solid blue 1px;
     grid-column: 5/6;

}

.cancelCommentButton{
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    height: 25px;
    margin-bottom:5px;
    margin-right:5px;
    margin-left:5px;
    border: solid black 1px;
    grid-column: 4/5;
    grid-row: 1;
    

}

.draftEditor{
    padding:10px;
    grid-column:1 / 5;  
}

.commentCount{
    background: red;
    margin-left: 5px;
    padding: 3px;
    border-radius: 25px;
    position: relative;
    
    
}

.filterCommentsButton{
    background-color: mediumpurple;
    border: solid blue 1px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
    font-size: 16px;
    cursor: pointer;
    grid-column:2/3;
    grid-row: 1;
    margin-top:5px;
    margin-right:5px;
    margin-left:5px;
}

.repliesContainter{
    margin-left:25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.commentBoxFooter {
    display:grid;
    grid-template-columns: auto auto auto auto;
    background: lightcyan;
    position: sticky;
    grid-column: 1 /5;
    bottom: 0;
    margin-top:5px;
}

.loginLink{
    text-align: center;
    color:blue;
    margin-left: 10px;
}

.contactLink{
    text-align: center;
    color:blue;
    margin-left: 10px;
}

.donateLink{
    text-align: center;
    color:blue;
    margin-left: 10px;
}

.bugLink{
    text-align: center;
    color:blue;
    margin-left: 10px;
}



